*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



/* часы */

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;
}

.settings{
    margin: 100px 560px 30px;   
	width: auto;
	height:auto;

}

.undermenu{
    display: flex;
	width: auto;

	flex-wrap: nowrap;
}

.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
  }
  .custom-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
  }
  .custom-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
  }
  .custom-checkbox:checked+label::before {
	border-color: #ff5945;
	background-color: #ff5945;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
	border-color: #faa197;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
  .custom-checkbox:not(:disabled):active+label::before {
	background-color: #faa197;
	border-color: #faa197;
  }
  /* стили для чекбокса, находящегося в фокусе */
  .custom-checkbox:focus+label::before {
	box-shadow: 0 0 0 0.2rem rgb(245, 101, 57);
  }
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox:focus:not(:checked)+label::before {
	border-color: #ff9e80;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled+label::before {
	background-color: #e9ecef;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 30px;  
    color: #fff;
    outline: none;

}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #ff5945;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff5945;
    cursor: pointer;
}
button{
	margin-left: 5px;
	width: 100px;
    height: 30px;
	display:inline-block;
    border: none;
    outline: none;
    background: #ff5945;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;}